/* 會員登入註冊 */
.container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}
  
h2 {
    margin-bottom: 20px;
}
  
form {
    text-align: left;
}
  
label {
    display: block;
    margin-bottom: 10px;
}

/* input是css選擇器
選擇所有type屬性值為text和password */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
  
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: burlywood;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #ccc;
    color: black;
}
  
p {
    margin-top: 20px;
}

.push{
    color: rgb(126, 126, 254);
}

.push:hover{
    color: rgb(217, 188, 254);
}

/* 會員資料 */
.member-info {
    font-family: Helvetica,Arial,sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.member-in{
    display: flex;
    margin-bottom: 30px;
    border: 3px solid #d6d6d6;
    border-radius: 20px;
    background-color: #f7ede3;
    height: 210px;
    max-width: auto;
}

.haewon{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(100, 100, 100);
    margin-left: 20px;
    margin-top: 10px;
}

.info{
    float: right;
    font-size: 18px;
    margin-right: 240px;
    margin-top: 30px;
}

.profile{
    border: 3px solid #d6d6d6;
    border-radius: 20px;
    background-color: #f0e7e3;
    height: 270px;
}

.profile form{
    margin-top: 10px;
    margin-left: 100px;   
}
  
.member-info h2 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
  
.member-info .profile {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 30px;
}
  
.member-info label {
    font-weight: bold;
}
  
.member-info input {
    width: 100%;
    padding: 5px;
}
  
.member-info button {
    padding: 10px 20px;
    background-color: burlywood;
    color: #fff;
    border: none;
    cursor: pointer;
    float: right;
}

.member-info button:hover{
    background-color: #ccc;
    color: black;
}
  
.purchase-history h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.purchase-history table {
    width: 100%;
    border-collapse: collapse;
}
  
.purchase-history th,
.purchase-history td {
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
}
  
.purchase-history th {
    background-color: #f2f2f2;
}

/* 購物車 */

.gocar{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.carleft{
    width: 500px;
    margin-right: 40px;
    margin-top: 5px;
    padding: 20px;
}

.order{
    font-size: 25px;
    padding: 0 0 18px 20px;
    font-weight: bold;
}

.inside{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    font-size: 20px;
    font-weight: bold;
}

.pdtname{
    display: flex;
    padding-left: 20px;
}

.pdtimg{
    padding-right: 25px;
}

.pdtimg1{
    margin-right: 50px;
}

.pdtimg2{
    margin-right: 30px;
}

.pdtspan {
    padding-top: 30px;
}

.pdtspann{
    margin-top: 30px;
    margin-left: -30px;
}

.pdtspannn{
    margin-top: 30px;
    margin-left: -10px;
}

.pdttt {
    padding-bottom: 20px;
}

.pdtspan1 {
    padding-top: 90px;
}

.qty {
    display: flex;
    margin-left: 1px;
    border: 0.5px #000 solid;
    width: 180px;
    height: 50px;
    font-size: 10px;
}

#reduce{
    background-color: white;
}

#add{
    background-color: white;
}

#reduce, #add{
    width: 45px;
    height: 45px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border: none;
}

#num {
    width: 80px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
    cursor: pointer;
    border: none;
    background-color: white;
    outline: none;
    cursor: text;
}

#down{
    background-color: white;
}

#up{
    background-color: white;
}

#down, #up{
    width: 45px;
    height: 45px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border: none;
}

#number{
    width: 80px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
    cursor: pointer;
    border: none;
    background-color: white;
    outline: none;
    cursor: text;
}

#downn{
    background-color: white;
}

#upp{
    background-color: white;
}

#downn, #upp{
    width: 45px;
    height: 45px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border: none;
}

#numberr{
    width: 80px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
    cursor: pointer;
    border: none;
    background-color: white;
    outline: none;
    cursor: text;
}

.check-inside .qty {
    height: 28px;
    padding-left: 10px;
    margin-top: -3px;
}

.carright{
    padding: 25px;
    width: 220px;
    height: 600px;
    margin-left: 10px;
}

.detail{
    font-size: 25px;
    padding: 0 0 18px 0;
    font-weight: bold;
}

.allpay {
    padding: 15px 0 15px 0;
}

.all {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
}

.all1{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.pay {
    margin-top: 20px;
}

.pay input{
    color: #fff;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #ddbea9;
    border: none;
    font-size: 18px;
}