* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.order {
    background-color: #f4f1e8;
    display: flex;
    flex-direction: column; /* 垂直排列子元素 */
    align-items: center; /* 元素在主軸上居中對齊 */
    margin-top: 15px;
    width: 1350px;
    height: auto;
    border-radius: 20px;

}

p{
    font-size: 30px;
}

input {
    font-size: 20px ;
    margin: 20px;
}


