.text{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: -6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 92%;
    background-color: rgba(252, 241, 230, 0.735);
    color: rgb(87, 82, 82);
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item:hover .text{
    opacity: 1;
}