*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header{
    margin: 0px;
    padding: 0px; 
    background-color: #fcfcfc;
}

.logo{
    text-align: center;
    margin-top: 50px;
}

.login{
    float: right;
    margin-right: 170px;
    margin-top: -70px;
}

.accpic{
    float: right;
    margin-right: 90px;
    margin-top: -70px;
}

.car{
    float: right;
    margin-right: 20px;
    margin-top: -70px;
}

nav{
    font-size: 20px;
    background-color: #f4f1e8;
    text-align: center;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 20 ;
    width: 100%;
}

nav a{
    color: #003566;
    padding: 20px 20px;
    display: inline-block;
    /* inline-block連結成一列 */
    text-decoration: none;
}

nav a:hover{
    /* hover是判斷滑鼠有沒有點上去 */
    background-color: #fbfbfb;
    color:#226af1;
}

.backtotop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 500;
}

.backtotop img{
    width: 40px;
    height: 40px;
}

footer {
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}